<h1>Starshop: your monopoly-busting option for Starship parts! </h1>

<img src= {{ Article.image }} alt={{ Article.name }} width="500" height="333">

<div>
    Browser through {{ Article.vendor }} starship!
</div>